Checks: > 
  readability-identifier-naming,
  cppcoreguidelines-init-variables,
  google-runtime-int,
  readability-isolate-declaration,
  google-build-using-namespace,
  google-explicit-constructor,
  readability-inconsistent-declaration-parameter-name,
  google-readability-casting,
  readability-braces-around-statements
        
WarningsAsErrors: "*"

CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case